_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea
*.out
*.aux
*.log
!logs/*.log
*.toc
latex/**/**/*.pdf
latex/**/*.pdf
server/ip.sh
server/domain.sh
assets/conversations/temp_*.mp3
scripts/weibo_cookies.txt
assets/epub/lzwjava*.epub
invoice
*.o
hello
weibo_cookies1.txt
__pycache__
Gemfile.lock
zhs4.yaml
tmp
*.class
.aider*
wandb
.webui_secret_key
rs_*
!rs_*.rs
Cargo.lock
rust/target
cpp/*
!cpp/*.cpp
!cpp/*.py
c/*
!c/*.c
!c/*.py
