---
layout: page
---

{% include sort.html %}

<ul class="post-list">
  {% if site.posts.size > 0 %}
  {% for post in site.posts %}
  {% assign translated = post.translated %}
  {% assign generated = post.generated %}
  {% if translated == nil %}
  {% assign translated = false %}
  {% endif %}
  {% if generated == nil %}
  {% assign generated = false %}
  {% endif %}
  {% if post.path contains '_posts/en/' %}
  <li class="list-group-item post-item lang-en" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/zh/' %}
  <li class="list-group-item post-item lang-zh" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/ja/' %}
  <li class="list-group-item post-item lang-ja" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/es/' %}
  <li class="list-group-item post-item lang-es" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/hi/' %}
  <li class="list-group-item post-item lang-hi" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/fr/' %}
  <li class="list-group-item post-item lang-fr" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/de/' %}
  <li class="list-group-item post-item lang-de" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/ar/' %}
  <li class="list-group-item post-item lang-ar" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/hant/' %}
  <li class="list-group-item post-item lang-hant" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% elsif post.path contains '_posts/original/' %}
    {% else %}
  <li class="list-group-item post-item lang-all" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    {% endif %}
    {% if post.path contains '_posts/en/' or post.path contains '_posts/zh/' or post.path contains '_posts/ja/' or
    post.path contains '_posts/es/' or post.path contains '_posts/hi/' or post.path contains '_posts/fr/' or post.path
    contains '_posts/de/' or post.path contains '_posts/ar/' or post.path contains '_posts/hant/' or post.path contains
    '_posts/all/' %}
    <a href="{{ post.url }}">
      <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
      <span class="type"> {% if post.image %}image{% else %}text{% endif %}</span>
      <span class="title">{{ post.title }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
  {% else %}
  <li class="list-group-item post-item">No posts available. </li>
  {% endif %}
</ul>

{% include sort.html %}

<script src="/assets/js/index.js"></script>