markdown
google-cloud-texttospeech
beautifulsoup4
pydub
openai
python-dotenv
PyYAML
requests
gitpython
python-frontmatter
azure-identity
azure-cognitiveservices-speech
google-cloud-speech
pdf2image
datasets
mistralai
google-cloud-storage
ruamel.yaml
pydo
matplotlib
