<div class="sort-container">

  <span id="post-number" class="post-number">
    {{ site.posts.size }} posts
    ({{ site.posts.size | divided_by: 7 | times: 6 }} Translated by <a href="https://mistral.ai">AI</a>)
  </span>
  <select id="sort-select">
    <option value="en" selected>English</option>
    <option value="zh">中文</option>
    <option value="ja">日本語</option>
    <option value="es">Español</option>
    <option value="hi">हिंदी</option>
    <option value="fr">Français</option>
    <option value="de">Deutsch</option>
    <option value="ar">العربية</option>
    <option value="hant">繁體中文</option>
  </select>

</div>

