---
layout: default
---

<main id="content" class="main-content" role="main">

  <div class="title-row post-title-row">
    <h2 class="title post-title">{{ page.title }}</h2>
  </div>

  <div class="button-container">
    <a href="/" class="button left-button">
      Home
    </a>

    <!-- Date Button -->
    {% if page.link %}
    <p class="date"></p> <!-- If page.link exists, no date will be shown -->
    {% else %}
    <!-- Date logic for file name -->
    {% assign date_parts = page.path | split: '/' %}
    {% assign date_segment = date_parts[1] %}
    {% if date_segment contains '-' %}
    {% assign date_parts = date_segment | split: '-' %}
    {% assign file_date = date_parts[0] | append: '-' | append: date_parts[1] | append: '-' | append: date_parts[2] %}
    <p class="date">{{ file_date }}</p>
    {% else %}
    <p class="date">No date available</p>
    {% endif %}
    {% endif %}

    <!-- Audio Button -->
    <!-- Audio Button -->
    {% if page.audio %}
    <!-- Audio Button -->
    <a href="#" id="playAudioButton" class="button audio-button">
      Audio
    </a>
    {% endif %}


    <!-- Language Button Section -->
    {% assign current_lang = page.path | split: '-' | last | split: '.' | first %}
    {% if current_lang == "en" or current_lang == "zh" %}
    {% if page.link %}
    {% if current_lang == "en" %}
    <a href="/{{ page.link }}" class="button right-button">中文</a>
    {% elsif current_lang == "zh" %}
    <a href="/{{ page.link }}" class="button right-button">English</a>
    {% endif %}
    {% else %}
    {% assign file_parts = page.path | split: '/' | last | replace: ".md", "" | split: '-' %}
    {% assign base_name = file_parts | slice: 3, file_parts.size | join: '-' | replace: "-#{current_lang}", "" %}
    {% assign base_name_length = base_name | size %}
    {% if base_name_length >= 3 %}
    {% assign length_to_slice = base_name_length | minus: 3 %}
    {% assign base_name = base_name | slice: 0, length_to_slice %}
    {% endif %}
    {% if current_lang == "en" %}
    <a href="/{{ base_name }}-zh" class="button right-button">中文</a>
    {% elsif current_lang == "zh" %}
    <a href="/{{ base_name }}-en" class="button right-button">English</a>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>

  <hr>

  {{ content }}

  <hr>

  <div class="button-container">
    <a href="/" class="button left-button">Back</a>
    <a href="/pages/donate" class="button right-button">Donate</a>
  </div>

  <!-- Audio player for text-to-speech -->
  <div class="audio-container">
    <audio id="audioPlayer" controls style="display:none;">
      <source id="audioSource" src="" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </div>

</main>

<script>
  var playAudioButton = document.getElementById('playAudioButton');
  if (playAudioButton) {
    playAudioButton.addEventListener('click', function (event) {
      event.preventDefault(); // Prevent default anchor behavior

      // Extract the base filename without the extension
      var filePath = "{{ page.path }}"; // e.g., "pages/donate-en.md"
      var fileName = filePath.split('/').pop().replace('.md', ''); // e.g., "donate-en"

      // Set the audio source to the corresponding MP3 file
      var audioFile = '/assets/audios/' + fileName + '.mp3'; // e.g., "/assets/audios/donate-en.mp3"

      var audioPlayer = document.getElementById('audioPlayer');
      var audioSource = document.getElementById('audioSource');

      audioSource.src = audioFile;
      audioPlayer.style.display = 'block'; // Show the audio player
      audioPlayer.load();
      audioPlayer.play();
    });
  }
</script>